*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    display:flexbox;
    justify-content: center;
    align-items:center;
    height:100vh;
    text-align: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#text{
    font-size: 3rem;
    background-color: transparent;
    border: none;
    align-content: center;
    text-align: center;
}
#time{
    font-size: 8rem;
    padding-top: 100px;
}
h1{
   
    margin-bottom: 1rem;
  
}
h2{
   
    margin-bottom: 1rem;
    font-size: 3rem;
    opacity: .5;

}